.lead__title {
    max-width: 720px;
    text-align: center;
    margin: 0 auto;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: white;
}

@media screen and (max-width: 767px) {
    .lead__title {
        font-size: 40px;
        line-height: 1.1;
        padding: 0 16px;
    }
}