.cover__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 740px;
    background-image: url(../../../images/__background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    width: 100%;
    position: relative;
    z-index: 1;
}

.cover__background::before {
    content: '';
    background-color: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
}

.cover__background:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1279px) {
    .cover__background {
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__background {
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__background {
        min-height: 200px;
    }
}